<appSettings>
  <add key="log4net.Internal.Debug" value="true" />
  <add key="log4net.Config" value="log4net.config" />

  <add key ="UriBase" value="http://v0023scd430.dd.bbva.loc:80/"/>
  <add key="Environment" value="Risco de Mercado Desarrollo" />

  <add key="signalR_uri" value="{{URIRM}}" />  
  <add key ="UriDefault" value="{{URIRM}}"/>
  <add key="signalR_uri_INTP" value="{{URIINTP}}" />
  <add key="URIBDM" value="{{UriBase}}MateraMVar.RiscoMercado.BDM/"/>
  <add key="URIMA" value="{{UriBase}}MateraMVar.RiscoMercado.MA/"/>
  <add key="URIMP" value="{{UriBase}}MateraMVar.RiscoMercado.MP/"/>
  <add key="URIRM" value="{{UriBase}}MateraMVar.RiscoMercado.RM/"/>
  <add key="URIRG" value="{{UriBase}}MateraMVar.RiscoMercado.RMG/"/>
  <add key="URIINTP" value="{{UriBase}}MateraMVar.INTP/"/>
  <add key ="URISEG" value="{{UriBase}}MateraMVar.SEG/"/>  
  
</appSettings>